<nav class="pagination" aria-label="Постраничная навигация">
  <ul>
    {% set pagination = {

      prev: {
        ariaLabel: 'Назад',
        label: '<svg class="icon" aria-hidden="true" focusable="false"><use href="/wp-content/themes/our-portugal-2020/img/base/graphics/sprite.svg#icon-chevron"></use></svg>',
        disabled: true,
      },

      page1: {
        label: '1',
      },

      page2: {
        label: '2',
        active: true,
      },

      page3: {
        label: '3',
      },

      page4: {
        label: '4',
      },

      next: {
        ariaLabel: 'Впёред',
        label: '<svg class="icon" aria-hidden="true" focusable="false"><use href="/wp-content/themes/our-portugal-2020/img/base/graphics/sprite.svg#icon-chevron"></use></svg>'
      },

    } %}

    {% for item in pagination %}
    <li class="pagination__item">
      <a
        class="pagination__link{% if item.active %} is-active{% endif %}{% if item.disabled %} is-disabled{% endif %}"
        href="#"
        {% if item.ariaLabel %} aria-label="{{ item.ariaLabel }}"{% endif %}
      >
        {% if item.label %}{{ item.label }}{% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
