<ul class="language-switcher">
  <li>
    <a class="language-switcher__link is-active" href="/ru/real-estate/add">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-russia"></use>
      </svg>
      <span>Русский</span>
    </a>
  </li>
  <li>
    <a class="language-switcher__link" href="/pt/real-estate/add">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-portugal"></use>
      </svg>
      <span>Português</span>
    </a>
  </li>
</ul>
