%btn {
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  vertical-align: middle;

  &:focus {
    outline: 0;
  }
}

.btn,
%btn-type {
  font-family: $font-family-accent;
  font-size: var(--font-size-small);
  font-weight: 600;
  letter-spacing: .05rem;
  text-decoration: none;
  text-transform: uppercase;
}

.btn,
%btn-shape {
  @extend %btn;

  border-radius: $border-radius-lg;
  padding: .2rem $size-3 0;
  height: $size-6;

  &:hover {
    text-decoration: none;
    box-shadow: $box-shadow-z2;
  }
}

.btn.is-primary,
%btn-primary {
  background-color: $color-primary;
  box-shadow: none;
  color: $color-ink-inverse-normal;
  transition:
    filter $duration-xs,
    box-shadow $duration-xs;

  &:hover {
    box-shadow: $box-shadow-z2;
    color: $color-ink-inverse-normal;
    filter: brightness($hover-brightness);
  }

  &:active {
    background-image: linear-gradient($color-primary-shade2, $color-primary);
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
    filter: brightness($hover-brightness);
  }
}

.btn.is-cta {
  background-color: $color-success;
  background-image: linear-gradient(to bottom right, lighten($color-success, 15%), $color-success);
  box-shadow: none;
  color: $color-ink-inverse-normal;
  transition:
    filter $duration-xs,
    box-shadow $duration-xs;

  &:hover {
    box-shadow: $box-shadow-z2;
    color: $color-ink-inverse-normal;
    filter: brightness($hover-brightness);
  }

  &:active {
    background-image: linear-gradient($color-primary-shade2, $color-primary);
  }

  &:focus {
    box-shadow: $box-shadow-focus-outline;
    filter: brightness($hover-brightness);
  }
}

.btn.is-outline,
%btn-outline {
  background-color: $transparent;
  box-shadow: inset 0 0 0 1px $color-primary;
  color: $color-primary;
  transition:
    background-color $duration-xs,
    box-shadow $duration-xs;

  &:hover,
  &:focus {
    background-color: $color-primary-lightest;
    color: $color-primary;
  }

  &:hover {
    box-shadow:
      inset 0 0 0 1px $color-primary,
      $box-shadow-z2;
    filter: none;
  }

  &:focus {
    box-shadow:
      inset 0 0 0 1px $color-primary,
      $box-shadow-focus-outline;
  }
}

.btn.is-outline.is-inverted {
  box-shadow: inset 0 0 0 1px $color-ink-inverse-border;
  color: $color-ink-inverse-normal;

  &:hover,
  &:focus {
    background-color: rgba($color-primary-lightest, .16);
    color: $color-ink-inverse-normal;
  }

  &:hover {
    box-shadow:
      inset 0 0 0 1px $color-ink-inverse-border,
      $box-shadow-z2;
  }

  &:focus {
    box-shadow:
      inset 0 0 0 1px $color-ink-inverse-border,
      $box-shadow-focus-outline;
  }
}

// MESSENGERS CTA

.btn.is-messenger-cta {
  background-color: $transparent;
  border-radius: 0;
  display: inline-block;
  margin-bottom: $size-2;
  padding: 0 $size-1 .6rem;
  height: auto;

  &:hover {
    box-shadow: none;
  }
}

.btn.is-messenger-cta > span {
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-primary;
  margin: 0 auto 1.4rem;
  width: $size-line * 2;
  height: $size-line * 2;

  .icon {
    fill: $color-ink-inverse-normal;
  }
}

// STAND ALONE

.is-stand-alone {
  @include media-breakpoint-up(sm) {
    flex-basis: 0;
    margin: 0 auto;
  }
}

// BUTTON GROUP

.buttons,
%buttons {
  display: flex;

  .btn + .btn {
    margin-left: $size-1;
  }
}

// FLOATING
.btn.is-floating-back {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: $size-line * 2;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity $duration-md;
}

.btn.is-floating-back.is-visible {
  background-color: rgba(255, 255, 255, .9);
  box-shadow:
    inset 0 0 0 1px $color-ink-border,
    $box-shadow-z3;
  color: $color-ink-2ry;
  opacity: 1;
  pointer-events: all;


  &:hover,
  &:focus {
    color: $color-primary;
  }

  &:hover {
    filter: none;
  }

  &:focus {
    box-shadow:
      inset 0 0 0 1px $color-primary,
      $box-shadow-focus-outline;
  }

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(1rem);
  }
}

// Chevron

.btn.is-floating-back .icon {
  fill: $color-ink-3ry;
  // Fix centering text blur
  margin-right: .5rem;
  transform: scaleX(-1);
}






// -----------------------------------------------------------------------------
// ACCESSIBLE TOGGLE BUTTON
// -----------------------------------------------------------------------------

// https://material.io/components/buttons#toggle-button

// MARKUP AND SCRIPTING

// This button is NOT active
// button.btn.is-fave(aria-label='Favorite', aria-pressed='false') ❤

// This button IS
// button.fave(aria-label='Favorite', aria-pressed='true') ❤

// Change the attribute value using the setAttribute() method.
// btn.setAttribute('aria-pressed', true);
// btn.setAttribute('aria-pressed', false);

.btn.is-toggle[aria-pressed='true'] {
  color: $color-primary;
}
