<form class="form is-search is-compact" action="/search" method="get">
  <div class="form__item">
    <input class="form__control" type="text" aria-label="Поиск по блогу" placeholder="Поиск по блогу" autocapitalize="off" autocomplete="off" spellcheck="false">
    <button class="btn is-submit" type="submit" aria-label="Искать">
      <svg class="icon" aria-hidden="true" focusable="false">
        <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-search"></use>
      </svg>
    </button>
  </div>
  <input type="hidden" value>
</form>

<nav class="categories">
  <h3 class="categories__heading">
    <svg class="icon" aria-hidden="true" focusable="false">
      <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-portugal"></use>
    </svg>
    Португалия
  </h3>
  <ul>
    <li><a class="categories__link" href="#">История</a></li>
    <li><a class="categories__link" href="#">География и природа</a></li>
    <li><a class="categories__link" href="#">Флора и фауна</a></li>
    <li><a class="categories__link" href="#">Экономика</a></li>
    <li><a class="categories__link" href="#">Кухня</a></li>
    <li><a class="categories__link" href="#">Вино</a></li>
    <li><a class="categories__link" href="#">Праздники</a></li>
  </ul>

  <h3 class="categories__heading">
    <svg class="icon" aria-hidden="true" focusable="false">
      <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-beach"></use>
    </svg>
    Отдых
  </h3>
  <ul>
    <li><a class="categories__link" href="#">Визы и авиасообщение</a></li>
    <li><a class="categories__link" href="#">Путеводители и карты</a></li>
    <li><a class="categories__link" href="#">Погода</a></li>
    <li><a class="categories__link" href="#">Цены</a></li>
    <li><a class="categories__link" href="#">Отели</a></li>
    <li><a class="categories__link" href="#">Рестораны</a></li>
    <li><a class="categories__link" href="#">Пляжи и курорты</a></li>
    <li><a class="categories__link" href="#">Рыбалка</a></li>
    <li><a class="categories__link" href="#">Яхты</a></li>
    <li><a class="categories__link" href="#">Шопинг</a></li>
    <li><a class="categories__link" href="#">Музеи</a></li>
    <li><a class="categories__link" href="#">Клубы, дискотеки</a></li>
    <li><a class="categories__link" href="#">Афиша</a></li>
  </ul>

  <h3 class="categories__heading">
    <svg class="icon" aria-hidden="true" focusable="false">
      <use href="{{ site.theme.link }}/img/base/graphics/sprite.svg#icon-home"></use>
    </svg>
    Жизнь
  </h3>
  <ul>
    <li><a class="categories__link" href="#">Обзор</a></li>
    <li><a class="categories__link" href="#">Транспорт</a></li>
    <li><a class="categories__link" href="#">Связь</a></li>
    <li><a class="categories__link" href="#">Медицина </a></li>
    <li><a class="categories__link" href="#">Фитнес и красота</a></li>
    <li><a class="categories__link" href="#">Все для детей </a></li>
    <li><a class="categories__link" href="#">Таможня </a></li>
    <li><a class="categories__link" href="#">Справочник</a></li>
    <li><a class="categories__link" href="#">Разговорник</a></li>
  </ul>
</nav>
